@import url(MQ-Mobile.css);
@import url(MQ-Tablet.css);

:root {
  --blue: #277bc0;
  --yellow: #ffb200;
  --orange: #ff9a3c;
  --beige: #fff4cf;
  --blue-box: #007fbf;
  --blue-box-1: #a7e7f6;
}

body {
  font-size: 56.2%;
  background-color: var(--beige);
  font-family: 'Poppins';
}

.Wrapper {
  width: 100%;
  background-color: var(--beige);
  overflow-x: hidden;
}
ul li {
  cursor: pointer;
}

/* Navbar Styel */

.box{
  background-color: var(--orange);
}

.logo{
  width: 200px;
  height: 100px;
  object-fit: cover;
}

nav a{
  font-size: 1.3rem;
}



@media screen and (min-width: 801px) {
  .navicon {
    display: none;
  }

  nav {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 300px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(24px at 32px 24px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  }

  nav:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }

  a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  a:hover {
    background: #ffe082;
  }

  a:active {
    background: #ffca28;
  }

  .navicon {
    padding: 23px 20px;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
  }

  .navicon div {
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
  }

  .navicon div:before,
  .navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
  }

  .navicon div:before {
    top: -7px;
  }

  .navicon div:after {
    top: 7px;
  }
}



















/* End Style Navbar */

.slog-part {
  background-color: #ff9a3c;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.slog-part h1 {
  text-align: center;
  /* margin: 3rem 0; */
  padding: 4rem 2rem;
  margin-top: 6rem;
}

.section-2 {
  margin-top: 2rem;
}

.box-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  border: 1px solid gray;
  border-radius: 10px;

}

.blue {
  background-color: var(--blue);
}
.section-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 250px;
  margin: 3rem 0px;
}

.box-section-2 p {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  margin-top: 2rem;
}

.section-3 {
  width: 100%;
  height: 300px;
  margin: 3rem 0;
  background-color: var(--orange);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.five {
  font-size: 15px;
  font-weight: 800;
  padding: 1rem 1.3rem;
  object-fit: cover;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: aliceblue;
}
.linkiTie,
.sec4-ilmoitus {
  font-size: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.section-4 {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tähän-Käyttäjä {
  font-size: 1.3rem;
  text-align: center;
}
.tähän-lyhyt {
  font-size: 16px;
}

.section-5 {
  width: 100%;
  padding: 3rem;
  margin: 3rem auto;
}

.container-grid {
  padding: 0 4rem;
  width: 100%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    "area-01 area-04 area-07"
    "area-01 area-04 area-07"
    "area-01 area-05 area-07"
    "area-02 area-05 area-08"
    "area-02 area-06 area-08"
    "area-03 area-06 area-08";
}

.area-04 {
  grid-area: area-04;
  background-color: var(--orange);
}

.area-05 {
  grid-area: area-05;
  background-color: var(--blue-box);
}

.area-06 {
  grid-area: area-06;
  background-color: var(--orange);
}

.area-07 {
  grid-area: area-07;
  background-color: var(--blue-box-1);
}

.area-08 {
  grid-area: area-08;
  background-color: var(--orange);
}

.area-03 {
  grid-area: area-03;
  background-color: var(--blue-box-1);
}

.area-02 {
  grid-area: area-02;
  background-color: var(--blue-box-1);
}

.area-01 {
  grid-area: area-01;
  background-color: var(--blue-box);
}

.text-center p {
  font-size: 20px;
}

/*  start footer */

.section-footer {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  background-color: #ff9a3c;
}
.img-footer {
  width: 150px;
  height: 70px;
  object-fit: cover;
}

.title-footer {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.title-footer li {
  font-size: 1rem;
  margin: 0 15px;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .title-footer li {
    font-size: 15px;
  }

  .slog-part h1 {
    font-size: 25px;
  }

  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01 area-02"
      "area-03 area-04"
      "area-05 area-06"
      "area-07 area-08";
  }

 

  .menu-btn {
    display: block;
  }

  .navbar-box {
    grid-template-columns: 1fr;
    gap:5px;
    width: 200px;
  }

  .navbar-box li{
    text-align: center;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

 

  .navbar-box li {
    font-size: 15px;
    margin:10px;
  }

  .logo {
    display: none;
  }

  .menu-btn {
    width: 200px;
    height: 50px;
    padding:auto;
    font-size: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--orange);
    border: none;
  }

  .navbar-box{
    position: absolute;
    top: 65px;
    background-color: var(--orange);
    visibility: hidden;
    opacity: 0;
    transition: all 180ms ease-in;
  }

.section1:hover .navbar-box{
  visibility: visible;
  opacity: 1;

}

.nav-sectioon{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slog-part h1{
  padding: 0px;
  margin: 0px;
  z-index: 99999;
position: fixed;
top:15px;
}



}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .section-footer {
    padding: 0 4rem;
  }

  .img-footer {
    align-self: -1;
  }
}
