@import url(MQ-Mobile.css);
@import url(MQ-Tablet.css);

:root {
  --blue: #277bc0;
  --yellow: #f4b63f;
  --orange: #dc7848;
  --beige: #fdf5d3;
  --blue-box: #407abb;
  --blue-box-1: #a7e7f6;
  --black: #212121;

}

body {
  font-size: 56.2%;
  background-color: var(--beige);
  font-family: "Poppins";
}



#scrol {
  background-color: #ff9a3c;
  position: fixed;
  height: 10px;

}

.Wrapper {
  width: 100%;
  background-color: var(--beige);
  overflow-x: hidden;
}
ul li {
  cursor: pointer;
}

/* Navbar Styel */
.logo {
  width: 300px;

  object-fit: cover;
  margin: 0 1rem;
}

nav {
  width: 100%;
  background-color: var(--yellow);
  padding: 2rem 0;
}

#check {
  display: none;
}
.checkBtn {
  display: none;
  font-size: 16px;
  background-color: #277bc0;
  width: 70px;
  margin: auto 20px;
  text-align: center;
  padding: 10px 0;
}

.title-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-nav li {
  font-size: 20px;
}
.title-nav li a {
  font-size: 20px;
}
.title-nav li a:hover {
  border-bottom: 2px solid white;
  transition: all 0.8ms ease-in;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .checkBtn {
    display: block;
  }

  .title-nav {
    width: 100%;
    position: fixed;
    background-color: var(--orange);
    z-index: 9999;
    left: -100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .title-nav li {
    margin-left: 16px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* End Style Navbar */

.slog-part {
  background-color:var(--yellow);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.slog-part h1 {
  text-align: center;
  margin-bottom: 1rem;
  color:var(--blue-box)
}

.section-2 {
  margin-top: 2rem;
}

.box-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  border-radius: 10px;
}
.box-section-2 a{
  color: #212121;
  text-decoration: none;
}

.blue {
  background-color: var(--orange);

}
.section-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 250px;
  margin: 3rem 0px;
}


.box-section-2:hover {
  box-shadow: 3px 2px  4px rgb(168, 168, 168);
  border: none;
  cursor: pointer;
}

.box-section-2 p {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  margin-top: 2rem;
}
.box-image{


  background-image: url(./imge/Screenshot\ 2023-09-15\ at\ 20.03.52.png);
background-repeat: no-repeat;
background-size: cover;





}

.section-3 {
  width: 100%;
  height: 300px;
  margin: 3rem 0;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.five {
  font-size: 15px;
  font-weight: 800;
  padding: 1rem 1.3rem;
  object-fit: cover;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: aliceblue;
}
.linkiTie,
.sec4-ilmoitus {
  font-size: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.section-4 {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Tähän-Käyttäjä {
  font-size: 1.3rem;
  text-align: center;
}
.tähän-lyhyt {
  font-size: 16px;
}

.section-5 {
  width: 100%;
  padding: 3rem;
  margin: 3rem auto;
}

.container-grid {
  width: 100%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    "area-01 area-04 area-07"
    "area-01 area-04 area-07"
    "area-01 area-05 area-07"
    "area-02 area-05 area-08"
    "area-02 area-06 area-08"
    "area-03 area-06 area-08";
}

.area-04 {
  grid-area: area-04;
  background-color: var(--orange);
}

.area-05 {
  grid-area: area-05;
  background-color: var(--blue-box);
}

.area-06 {
  grid-area: area-06;
  background-color: var(--orange);
}

.area-07 {
  grid-area: area-07;
  background-color: var(--blue-box-1);
}

.area-08 {
  grid-area: area-08;
  background-color: var(--orange);
}

.area-03 {
  grid-area: area-03;
  background-color: var(--blue-box-1);
}

.area-02 {
  grid-area: area-02;
  background-color: var(--blue-box-1);
}

.area-01 {
  grid-area: area-01;
  background-color: var(--blue-box);
}

.text-center p {
  font-size: 20px;
}

/*  start footer */

.section-footer {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  background-color: #ff9a3c;
}
.img-footer {
  width: 150px;
  height: 70px;
  object-fit: cover;
}

.title-footer {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.title-footer li {
  font-size: 1rem;
  margin: 0 15px;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
@media screen and (max-width: 1100px) {
  
  

} */

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .section-footer {
    padding: 0 4rem;
  }

  .img-footer {
    align-self: -1;
  }
  .title-footer li {
    font-size: 15px;
  }

  .slog-part h1 {
    font-size: 25px;
  }

  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01 area-02"
      "area-03 area-04"
      "area-05 area-06"
      "area-07 area-08";
  }
}

@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01"
      "area-02"
      "area-03"
      "area-04"
      "area-05"
      "area-06"
      "area-07"
      "area-08";
  }

  .title-footer li {
    font-size: 12px;
  }
}
