/* Media Queries Mobile  767*/
@media screen and (max-width: 768px) {
  .box1-icon {
    background-color: var(--blue);
    margin-left: 15px;
    padding: 1rem;
    justify-content: flex-end;
  }

  .slog-part h1 {
    font-size: 20px;
  }

  .img-section-footer {
    order: -1;
    margin: 2rem 0;
  }

  .container-grid {
    display: none;
  }

  /* .slog-part h1 {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    z-index: 99999;
    position: fixed;
  } */

  .slog-part h1{
    top: 17px;
    
  }

}
