/* Media Queries Mobile  767*/
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .checkBtn {
    display: block;
  }

  .title-nav {
    width: 100%;
    position: fixed;
    background-color: var(--orange);
    z-index: 9999;
    left: -100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .title-nav li {
    margin-left: 16px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .box1-icon {
    background-color: var(--blue);
    margin-left: 15px;
    padding: 1rem;
    justify-content: flex-end;
  }

  .slog-part h1 {
    font-size: 20px;
  }

  .img-section-footer {
    order: -1;
    margin: 2rem 0;
  }

  .container-grid {
    display: none;
  }

  /* .slog-part h1 {
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
    z-index: 99999;
    position: fixed;
  } */

  .slog-part h1{
    top: 17px;
    
  }


  .section-3 h1{
    font-size: 18px;
  }

  .section-4 h2{
    font-size: 18px;
    font-weight: 800;
  }

  .Tähän-Käyttäjä{
    font-size: 13px;
  }




  

}
